[Unit]
Description=NodeJS Tutorial App Simple
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/tutorial-backend-simple/
ExecStart=npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target

